export(describe)
export(FAIR)
export(tidyDesc_binary)



import(stringr)
importFrom(purrr, map)
import(dplyr)
import(tidyr)
import(DescTools)
importFrom(lubridate, is.difftime)
import(openxlsx)
import(lazyMe)
import(manageR)
import(epiplus)
importFrom(epiR, epi.conf)
importFrom(rstatix, anova_test)
