export(FAIR)
export(describe)
export(getModelCoefs)
export(tidyDesc_binary)
export(tidyDesc_censorLowFreq)
export(write.desc)

export(plotSankey)
export(createSankeyData)

import(stringr)
importFrom(purrr, map)
import(dplyr)
import(tidyr)
import(DescTools)
importFrom(lubridate, is.difftime)
import(openxlsx)
import(lazyMe)
import(manageR)
import(epiplus)
import(plotly)
importFrom(epiR, epi.conf)
importFrom(rstatix, anova_test)
